body{
    background-image: url("https://getwallpapers.com/wallpaper/full/9/5/4/1305817-download-ultra-hd-4k-wallpapers-1080p-3840x2160-for-full-hd.jpg");
    background-size: cover;
    background-size: 1800px 800px;
}
.profile {
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
    width: 70%;
    background-color: rgb(20, 91, 67) ;
    text-align: left;
    
    margin-left: 10%;
    font-size: smaller;
    animation: infinite;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
  }
  
  @keyframes example {
    0%   {background-color:rgb(209, 166, 166); left:0px; top:0px;}
    25%  {background-color:rgb(118, 236, 9); left:200px; top:0px;}
    50%  {background-color:rgb(108, 108, 183); left:200px; top:200px;}
    75%  {background-color:rgb(50, 226, 239); left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  
  
  .profile h2 {
    margin-bottom: 10px;
    color: #0feedf;
    font-size: 50px;
    overflow: hidden;
  
  
  }
  
  .profile p {
    color: #f4e9ea;
    font-size: 20px;
        
  }
  .header{margin-left: 60%;
  color: rgb(242, 14, 97);
  text-decoration: none;

  }
  .out{
    background-color: red;
}
@keyframes typing {
    from { width: 0%; }
    to { width: 20%; }
  }
  
  
  
  /* You can add more styles as needed */
  