.contact-background {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("https://t3.ftcdn.net/jpg/01/25/77/98/240_F_125779833_8sAKtc38vrCZVxD7B7weMxot9lpWIKiG.jpg");
    background-size:100% 100%;
    color: white;


}
.enquiries{
  background-color: black;
  
}
footer {
    background-color: #706a6a;
    color: #fff;
    padding: 5px;
    margin-top: 10%;

  }
  
  .icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 30px;
  }
  .caption{
    text-align: center;
  }
  .details{
    color: rgb(222, 22, 22);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
    margin-left: 40%;
    background-color: #f4eaea;
    width: fit-content;
    padding: 20px;
    
  }
  .text-1{
    width: fit-content;
    
    background: rgb(2,0,36);
background: radial-gradient(circle, rgb(133, 130, 199) 0%, rgba(196,46,26,1) 100%);
  }
  
  
  
  