.home-background{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("https://getwallpapers.com/wallpaper/full/4/1/b/1305795-ultra-hd-4k-wallpapers-1080p-3840x2160-cell-phone.jpg");
    background-size: cover;
    background-size: 1600px 800px;
    color: white;
}
.home-background p{
    text-align: center;
    margin: 5%;
    color: rgb(240, 245, 240);
    font-size: 1rem;
    background-color: rgb(1, 62, 62);
    display: flexbox;
    width: 50%;
    text-align:left;
    padding: 5%;
    
}