

.title_1{text-align: center;
    color: rgb(219, 232, 222);
    margin-top: 150px;
    font-size: 60px;
}



.header {
    color: rgb(227, 68, 20);
}
.description{
    color: rgb(219, 121, 16);
    animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 5;
      transform: translateY(10px);
    }
  }
  
  
  